{
  "extends": [
    "standard"
  ],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterAll": true,
    "afterEach": true
  }
}
