{
  "extends": [
    "standard"
  ],
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "td": true,
    "_": true,
    "should": true
  }
}
